<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.fudannhpcc.www.alarm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <meta-data android:name="com.onesignal.NotificationAccentColor.DEFAULT" android:value="FF00FF00" />

    <application
        android:allowBackup="true"
        android:clearTaskOnLaunch="true"
        android:excludeFromRecents="true"
        android:icon="@mipmap/ic_launcher"
        android:label="集群管理"
        android:supportsRtl="true"

        android:theme="@style/MyTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/MyTheme" />

        <activity
            android:name=".activity.ListViewActivity"
            android:label="@string/title_activity_listview"
            android:theme="@style/MyTheme" />

        <service
            android:name=".service.MQTTService"
            android:process=":ServiceProcess"
            android:enabled="true"
            android:exported="true"
            android:label="MqttService" >
        </service>

        <!--android:process=":ServiceProcess"-->

        <service
            android:name=".service.CoreService"
            android:process=":ServiceProcess"
            android:enabled="true"
            android:label="CoreService"
            android:exported="true" >
        </service>

        <receiver
            android:name=".receiver.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.MqttRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="MqttRestartServiceWhenStopped">
            <intent-filter>
                <action android:name="cn.fudannhpcc.www.alarm.receiver.MqttRestarterBroadcastReceiver"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>